{% block title %}Create a query{% endblock %}

{% block content %}
<form action="#" method="post">

    <p>Find tools based on collection id or topic:</p>
    
    <p>Collection ID:</p>
    <input type="text" name="coll_id">

    <p>Topic:</p>
    <input type="text" name="topic">
    
    <p>Show only names of tools:
    <input type="checkbox" name="only_names"></p>

    <p><input type="submit" value="Submit"></p>

    <p>Existing queries:
        {% for item in content %}
            <p>{{item}}</p>
        {% endfor %}
    </p>
</form>
{% endblock %}